

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Space Grotesk", sans-serif;
  color: #444;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  color: #9eccf4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #428bca;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #629fd3;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  background: #fff;
  z-index: 997;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06);
}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #1c5c93;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  color: #5c768d;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #428bca;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: 100%;
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #428bca;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #1f3548;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(31, 53, 72, 0.9);
  transition: 0.3s;
  z-index: 998;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #1f3548;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #428bca;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #428bca;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 110px);
  padding: 0;
  overflow: hidden;
  background: #000;
}
#hero .carousel-item {
  width: 100%;
  height: calc(100vh - 110px);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}
#hero .carousel-item::before {
  content: "";
  /* background-color: rgba(13, 30, 45, 0.6); */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#hero .carousel-content {
  text-align: left;
}
@media (max-width: 992px) {
  #hero, #hero .carousel-item {
    height: calc(100vh - 70px);
  }
  #hero .carousel-content.container {
    padding: 0 50px;
  }
}
#hero h2, #hero h1 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}
#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  color: #fff;
}
#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}
#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}
#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}
#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}
#hero .carousel-indicators li {
  cursor: pointer;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0;
  background: #428bca;
}
#hero .btn-get-started:hover {
  background: #1c5c93;
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}
@media (max-height: 500px) {
  #hero, #hero .carousel-item {
    height: 120vh;
  }
}
@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f9fc;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5c768d;
}
.section-title p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 10px;
}
/* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
.about_part {
  position: relative;
  z-index: 1;
  padding: 200px 0 180px;
}

@media (max-width: 991px) {
  /* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part {
    padding: 140px 0px 70px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part {
    padding: 160px 0px 80px;
  }
}

/* line 32, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
.about_part .about_part_text {
  background-color: #547DBF;
  padding: 75px 50px 50px 35px;
  border: 22px solid #fff;
  margin-top: -75px;

}

@media (max-width: 575px) {
  /* line 32, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_text {
    border: 0px solid #fff;
    padding: 25px 25px 25px 15px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 32, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_text {
    border: 0px solid #fff;
    padding: 25px 25px 25px 15px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 32, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_text {
    margin-top: 0;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 32, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_text {
    margin-top: 0;
  }
}

/* line 53, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
.about_part .about_part_text .about_text_iner {
  border-left: 1px solid #fff;
  padding-left: 39px;
}

#img-wrap {
  width: 636px;
  height: 631px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

#img-wrap > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}


@media (max-width: 575px) {
  /* line 53, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_text .about_text_iner {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 53, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_text .about_text_iner {
    padding-left: 20px;
  }
}

/* line 68, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
.about_part .about_part_text .about_text_iner p {
  color: #fff;
  margin-bottom: 25px;
  position: relative;
}

/* line 72, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
.about_part .about_part_text .about_text_iner p:after {
  position: absolute;
  left: -49px;
  top: 0;
  content: "";
  width: 19px;
  height: 19px;
  background-color: #f6a515;
  border-radius: 50%;
}

@media (max-width: 575px) {
  /* line 72, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_text .about_text_iner p:after {
    left: -30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 72, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_text .about_text_iner p:after {
    left: -30px;
  }
}

/* line 97, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
.about_part .about_part_img {
  position: absolute;
    right: 309px;
    top: 374px;
    width: 880px;
    height: 500px;
    z-index: -1;
    padding-right: 200px;
}

@media (max-width: 575px) {
  /* line 97, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_img {
    width: 100%;
    height: auto;
    left: 0;
    margin: 0 auto;
    position: relative;
    top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 97, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_img {
    width: 100%;
    height: auto;
    left: 0;
    margin: 0 auto;
    position: relative;
    top: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 97, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    top: 75px;
  }
  .about_part .about_part_img img {
    display: none;
  }
}

/* line 128, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
.about_part .about_part_img h2 {
  left: 80%;
  font-size: 48px;
  color: #547DBF;
  position: absolute;
  text-transform: capitalize;
  top: -26%;
  width: max-content;
}
.about_part .about_part_img img {
  height: 650px;
}

@media (max-width: 575px) {
  /* line 128, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_img h2 {
    left: 0;
    top: -40px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 128, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_img h2 {
    left: 0;
    top: -40px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 128, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_img h2 {
    /* left: 0; */
    font-size: 32px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 128, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .about_part .about_part_img h2 {
    top: -10%;
  }
}

/* line 170, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
.single_about_padding {
  padding: 232px 0 193px;
  margin-bottom: 400px;
}

@media (max-width: 991px) {
  /* line 170, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .single_about_padding {
    margin-bottom: 0;
    padding: 77px 0px 70px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 170, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .single_about_padding {
    padding: 57px 0px 80px;
    margin-bottom: 280px;
  }
}

/* line 181, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
.single_about_padding:after {
  position: absolute;
  left: 10%;
  content: "";
  width: 90%;
  height: 90%;
  background-color: #fff;
  z-index: -1;
  top: 238px;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 181, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_about.scss */
  .single_about_padding:after {
    height: 100%;
    top: 171px;
  }
}

/* Video Section
--------------------------------*/
#video {
  position: relative;
  background: url(../img/see-spot.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 115px;
  margin-bottom: 50px;
  height: 250px;
  border: 1px solid;
  overflow: hidden;

}
#video .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
}
#video .overlay .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#547dbf 50%, rgba(84, 125, 191, 0.15) 52%);
  border-radius: 50%;
  display: block;
  margin: 70px auto 0;
  position: relative;
  overflow: hidden;
}
#video .overlay .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
#video .overlay .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
#video .overlay .play-btn:hover::after {
  border-left: 15px solid #547dbf;
  transform: scale(20);
}
#video .overlay .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate1 {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@keyframes pulsate1 {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate2 {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}


/**************** service_part css start ****************/
.section_tittle h2 {
  font-size: 48px;
  color: #547DBF;
  line-height: 40px;
  /*font-weight: 700;*/
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  /* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .service_part {
    padding: 0 0 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .service_part {
    padding: 70px 0 50px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .service_part {
    padding: 284px 0 15px;
  }
}

@media (max-width: 991px) {
  /* line 14, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .service_part .service_text {
    margin-bottom: 50px;
  }
}

/* line 21, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
.service_part .service_text h2 {
  font-size: 48px;
  color: #547DBF;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  /* line 21, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .service_part .service_text h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 21, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .service_part .service_text h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }
}

/* line 33, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
.service_part .service_text h2 span {
  font-weight: 400;
}

/* line 38, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
.service_part .service_text p {
  margin-bottom: 15px;
}

/* line 41, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
.service_part .service_text .btn_1 {
  margin-top: 45px;
}

@media (max-width: 991px) {
  /* line 41, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .service_part .service_text .btn_1 {
    margin-top: 10px;
  }
}

/* line 51, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
.service_part .single_service_text {
  width: 50%;
  float: left;
  padding-left: 31px;
  margin-bottom: 55px;
}

@media (max-width: 575px) {
  /* line 51, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .service_part .single_service_text {
    width: 100%;
  }
}

@media (max-width: 991px) {
  /* line 51, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .service_part .single_service_text {
    padding-right: 20px;
    padding-left: 0;
    margin-bottom: 20px;
  }
}

/* line 67, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
.service_part .single_service_text h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 37px 0 35px;
}

@media (max-width: 991px) {
  /* line 67, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .service_part .single_service_text h4 {
    margin: 15px 0 15px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 67, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .service_part .single_service_text h4 {
    margin: 15px 0 15px;
  }
}

@media (max-width: 991px) {
  /* line 81, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .mt_30 {
    margin-top: 30px;
  }
}

/* line 88, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
.single_page_service {
  padding: 180px 0 116px;
}

@media (max-width: 991px) {
  /* line 88, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .single_page_service {
    padding: 70px 0 50px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 88, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
  .single_page_service {
    padding: 75px 0 50px;
  }
}

/* line 96, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
.single_page_service .btn_1 {
  background-color: #547DBF;
  color: #fff;
}

/* line 99, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_service.scss */
.single_page_service .btn_1:hover {
  color: #547DBF;
}

/* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
.cta_area {
  margin-bottom: 30px;
  background-color: #000;
  padding: 179px 0px;
  text-align: center;
  background-image: url("../img/slide/slide-1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

@media (max-width: 991px) {
  /* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
  .cta_area {
    padding: 70px 0;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
  .cta_area {
    padding: 75px 0;
  }
}

/* line 15, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
.cta_area:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000c2;
  z-index: -1;
  opacity: .8;
}

/* line 26, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
.cta_area h2 {
  color: #fff;

  font-weight: 700;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 575px) {
  /* line 26, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
  .cta_area h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 26, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
  .cta_area h2 {

    line-height: 30px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 26, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
  .cta_area h2 {
    line-height: 30px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 26, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
  .cta_area h2 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}

/* line 53, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
.cta_area p {
  color: #fff;
}

/* line 56, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
.cta_area .cta_btn {
  padding: 14.5px 50px;
  background-color: #fff;
  display: inline-block;
  margin-top: 51px;
}

/* line 61, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
.cta_area .cta_btn:hover {
  background-color: #547DBF;
  color: #fff;
}

@media (max-width: 575px) {
  /* line 56, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
  .cta_area .cta_btn {
    margin-top: 15px;
    padding: 14.5px 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 56, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
  .cta_area .cta_btn {
    margin-top: 15px;
    padding: 14.5px 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 56, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_cta_area.scss */
  .cta_area .cta_btn {
    margin-top: 15px;
    padding: 14.5px 30px;
  }
}

/*************** deliverie process css ****************/
@media (max-width: 991px) {
  /* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_deliverie_process.scss */
  .deliverie_process {
    padding: 70px 0 50px;
  }
}

/* line 7, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_deliverie_process.scss */
.single_deliverie_process {
  text-align: center;
}

@media (max-width: 991px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_deliverie_process.scss */
  .single_deliverie_process {
    margin-bottom: 20px;
  }
}

/* line 15, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_deliverie_process.scss */
.single_deliverie_process h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 32px 0 25px;
}

@media (max-width: 575px) {
  /* line 15, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_deliverie_process.scss */
  .single_deliverie_process h4 {
    margin: 10px 0;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  background: #fff;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}
.testimonials .section-header {
  text-align: center;
  padding-bottom: 40px;
}
.testimonials .section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #547DBF;
  text-transform: uppercase;
}
.testimonials .section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}
@media (max-width: 768px) {
  .testimonials .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

.testimonials .testimonial-item .stars {
  margin-bottom: 15px;
}
.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #547DBF;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4154f1;
}
.testimonials .swiper-slide {
  opacity: 0.3;
}
@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }
  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}




/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info-box {
  color: #444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
  width: 100%;
}
.contact .info-box i {
  font-size: 32px;
  color: #428bca;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #9eccf4;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #666;
  font-weight: 700;
  margin: 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-group {
  margin-bottom: 20px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #428bca;
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
}
.contact .php-email-form button[type=submit] {
  background: #428bca;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
}
.contact .php-email-form button[type=submit]:hover {
  background: #629fd3;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #37517e;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 15px;
  color: #444444;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #47b2e4;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #209dd8;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f3f5fa;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}
#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
#footer .copyright {
  float: left;
}
#footer .credits {
  float: right;
  font-size: 13px;
}
#footer .credits a {
  transition: 0.3s;
}
@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}

/*************** deliverie process css ****************/
@media (max-width: 991px) {
  /* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_deliverie_process.scss */
  .deliverie_process {
    padding: 70px 0 50px;
  }
}

/* line 7, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_deliverie_process.scss */
.single_deliverie_process {
  text-align: center;
}

@media (max-width: 991px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_deliverie_process.scss */
  .single_deliverie_process {
    margin-bottom: 20px;
  }
}

/* line 15, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_deliverie_process.scss */
.single_deliverie_process h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 32px 0 25px;
}

@media (max-width: 575px) {
  /* line 15, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_deliverie_process.scss */
  .single_deliverie_process h4 {
    margin: 10px 0;
  }
}

/**************** regervation_part css start ****************/
/* line 2, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
.regervation_part {
  background-color: #547DBF;
  position: relative;
  z-index: 1;
}

/* line 7, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
.btn_1 {
  display: inline-block;
  padding: 19px 47px;
  border-radius: 4px;
  font-size: 14px;
  color: #547DBF;
  text-transform: uppercase;
  background-color: #f5f5fd;
  font-weight: 800;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.regervation_part .form-row > .col, .form-row > [class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}
.regervation_part:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 50%;
  height: 100%;
  background-image: url("../img/slide/slide-22.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 575px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
  .regervation_part:after {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
  .regervation_part:after {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
  .regervation_part:after {
    display: none;
  }
}

/* line 34, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
.regervation_part .regervation_part_iner h2 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  line-height: 40px;
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  /* line 34, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
  .regervation_part .regervation_part_iner h2 {
    margin-bottom: 15px;
    font-size: 30px;
  }
}

/* line 49, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
.regervation_part .regervation_part_iner input {
  color: #fff !important;
}

/* line 53, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
.regervation_part .regervation_part_iner .form-control {
  background-color: transparent;
  color: #fff !important;
  border: 1px solid #a1a5a5;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
  padding-bottom: 15px;
  height: 45px;
  border-radius: 3px;
  padding: .375rem 2rem;
}

@media (max-width: 991px) {
  /* line 53, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
  .regervation_part .regervation_part_iner .form-control {
    margin-bottom: 0px;
  }
}

/* line 72, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
.regervation_part .regervation_part_iner .btn_1 {
  border-radius: 0;
}

/* line 75, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
.regervation_part .regervation_part_iner .btn_1:hover {
  background-color: #fff;
  color: #f6a515;
}

/* line 82, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
.regervation_part ::placeholder {
  color: #fff !important;
}

/* line 86, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
.regervation_part .reservation_text {
  width: 72%;
  margin-left: 85px;
}

@media (max-width: 991px) {
  /* line 86, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
  .regervation_part .reservation_text {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}

/* line 97, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
.regervation_part .reservation_text h2 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 22px;
}

@media (max-width: 991px) {
  /* line 97, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
  .regervation_part .reservation_text h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

/* line 111, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
.regervation_part .reservation_text p {
  color: #fff;
  margin-bottom: 44px;
}

@media (max-width: 991px) {
  /* line 111, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
  .regervation_part .reservation_text p {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  /* line 123, ../../01 cl html template/New folder/May 2019/177 Logistics/Logistic Template/sass/_regervation_part.scss */
  .regervation_part .btn_1 {
    margin-top: 0px;
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  background: linear-gradient(42deg, #428bca 0%, #578ebe 100%);
}
.faq .section-title h2, .faq .section-title p {
  color: #fff;
}
.faq .section-title h2::after {
  background: rgba(255, 255, 255, 0.6);
}
.faq .faq-list {
  padding: 0 100px;
}
.faq .faq-list ul {
  padding: 0;
  list-style: none;
}
.faq .faq-list li + li {
  margin-top: 15px;
}
.faq .faq-list li {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}
.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}
.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #428bca;
}
.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}
.faq .faq-list .icon-show {
  display: none;
}
.faq .faq-list a.collapsed {
  color: #2c4964;
}
.faq .faq-list a.collapsed:hover {
  color: #428bca;
}
.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}
.faq .faq-list a.collapsed .icon-close {
  display: none;
}
@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #1c5c93;
}
.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1c5c93;
}
.clients .swiper-slide img {
  /* opacity: 0.5; */
  transition: 0.3s;
  /* filter: grayscale(100); */
}
.clients .swiper-slide img:hover {
  opacity: 1;
  filter: none;
}